# Created by .ignore support plugin (hsz.mobi)
.idea/
build/
logs/
**/vendor
/app/composer.lock
/tools/vendor
composer.lock
.semver
Plugin
vendor
.DS_Store
*.rdb
/composer.phar
node_modules
package-lock.json
src/CCM-API/bin/*
